$sans-book: "futura-pt",sans-serif;
$sans-book-italic: "futura-pt",sans-serif;
$sans-bold: "futura-pt",sans-serif;
$sans-bold-italic: "futura-pt",sans-serif;
$sans-heavy: "futura-pt",sans-serif;
$condensed-book: "futura-pt-condensed",sans-serif;
$condensed-book-italic: "futura-pt-condensed",sans-serif;
$condensed-bold: "futura-pt-condensed",sans-serif;
$condensed-bold-italic: "futura-pt-condensed",sans-serif;


$normal-weight: 400;
$bold-weight: 700;
$heavy-weight: 800;


.gothic {
font-family: "alternate-gothic-no-1-d",sans-serif;
font-style: normal;
font-weight: 400;
}